<script type="text/javascript">$('body').addClass('feed');</script>


<script type="text/javascript">
$(document).ready(function(){
	$('#messages').slideDown(300).delay(800).fadeIn(400).delay(1000).slideUp(300);
});
</script>


<div class="container">

	<h1 id="name"><%= chum.name %></h1>
	<div class="divider"></div>

	<%- messages() %>
	
	<div id="desktopcontainer">
		<div id="imagecontainer">
		<% for(var i = 0; i<chum.photos.length; i++) { %>
		
			<% if(chum.photos[i].link){ %>
				<% if(chum.photos[i].type == "facebook"){ %>
			 		<div class="imageLeft">
			 	<% }else{ %>
			 		<div class="imageRight">
			 	<% } %>

				<% if(chum.photos[i].url){ %>
	    		<a href="<%= chum.photos[i].link %>"><img src="<%= chum.photos[i].url %>" class="<%= chum.photos[i].type %>"/></a>
	    		<% }else{ %>
	    		<a href="<%= chum.photos[i].link %>"><img src="img/social_networks/<%= chum.photos[i].type %>_missing.png" class="<%= chum.photos[i].type %> missing"/></a>
	    		<% } %>
	    		</div>
	    	<% } %>
		
		<% } %>
		</div>

		<div id="connectorskip">
			<a href="/connect?id=<%= chum._id %>"><img id="connect" src="img/connect_btn.jpg" width="231px" height="44px"/></a>
			<a href="/skip?id=<%= chum._id %>"><img id="skip" src="img/skip_btn.jpg" width="64px" height="44px" /></a>
		</div>

		<div id="info">
			<div id="about">
				<div id="container">
		    		<div id="icon">
		    		</div>
		    		<div id="text">
		    			<%= chum.meta %>
		    		</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="divider"></div>
			
			
			<div id="work">
				<div id="container">
		    		<div id="icon">
		    		</div>
		    		<div id="text">
		    			<%= chum.profession %>
		    		</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="divider"></div>
			
			<div id="live">
				<div id="container">
		    		<div id="icon">
		    		</div>
		    		<div id="text">
		    			<%= chum.location %>
		    		</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="divider"></div>
		</div>   
	</div>
</div>

<script type="text/javascript">
/*var $container = $('#imagecontainer');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.image',
    columnWidth: 88
  });
});
*/
</script>

