<div class="container">

	<h1 id="name"><%= chum.name %></h1>
	<div class="divider"></div>


	<div id="desktopcontainer">
		<div id="imagecontainer">
	    	<div id="imageoverlay"><img src="<%= chum.photos %>" /></div>
		</div>

		<div id="connectorskip">
			<a href="/connect"><img id="connect" src="img/connect_btn.jpg" width="231px" height="44px"/></a>
			<a href="/skip"><img id="skip" src="img/skip_btn.jpg" width="64px" height="44px" /></a>
		</div>

		<div id="info">
			<div id="about">
				<div id="container">
		    		<div id="icon">
		    		</div>
		    		<div id="text">
		    			<%= chum.meta %>
		    		</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="divider"></div>
			
			
			<div id="work">
				<div id="container">
		    		<div id="icon">
		    		</div>
		    		<div id="text">
		    			<%= chum.profession %>
		    		</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="divider"></div>
			
			<div id="live">
				<div id="container">
		    		<div id="icon">
		    		</div>
		    		<div id="text">
		    			<%= chum.location %>
		    		</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div id="divider"></div>
		</div>   
	</div>
</div>



